<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="UBDFML DeepFakeOmeter, State University of New York at Buffalo">
<meta name="description" content="UBDFML DeepFakeOmeter">
<link rel="stylesheet" href="{{url_for('static', filename='css/jemdoc.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static', filename='css/mycss.css')}}" type="text/css" />

<title>DeepFake-o-meter</title>
</head>



<table>
	<tbody>
		<tr>
			<td width="150">
				<img src={{ url_for('static', filename='images/deepfakeometer2.png') }} border="0" width="100" style="float:right">
			</td>
			<td>									
				<h1 align="center"><b><big>DeepFake-o-meter</b> </big></h1>
				<p><big>An open platform integrating state-of-the-art DeepFake detection methods</big></p>
            </td>			
		</tr><tr>
	</tr></tbody>
</table>


<h2>Terms to use DeepFake-o-meter</h2>
<p>1. By using the service provided by DeepFake-o-meter, you agree that the uploaded media do not contain inappropriate or explicit contents, including but not limited to those of pornographic or violent nature, involving minors, or politically agitated. You also agree that the analysis results are provided “as it is” from the individual algorithms, and neither the team of DeepFake-o-meter nor developers of individual algorithms is not responsible for any potential consequence or implications of these analysis results.</p>
<p>2. Please understand that by analyzing the uploaded media, DeepFake-o-meter does not determine the authenticity of the uploaded media, but merely aggregate the analysis results from individual algorithms. Use the analysis results is at your own discretion.</p>
<p>3. The maximum size of uploaded media is 50M, and we can only take files of JPEG, MP4, or AVI format. </p>
<p>4. DeepFake-o-meter will not distribute your uploaded media. DeepFake-o-meter will not use your uploaded media beyond the purpose of running analysis algorithms and generating the final report back to you. Upon completion of the analysis, the uploaded media, the analysis results, and the email address associated with the account will be permanently removed after 24 hours to protect your privacy. </p>
<footer style="margin-top: 40px">
<hr>
&copy; UB Media Forensic Lab (<a href="http://www.cs.albany.edu/~lsw/">UB MDFL</a>) 2020
</footer>
</body></html>
